function Main.main 10
    push constant 40
    push constant 123
    call SnakeNode.new 2
    push constant 10
    call SnakeList.new 2
    pop local 0
    push local 0
    call SnakeList.get_head 1
    pop local 1
    push constant 0
    pop local 8
    push constant 160
    pop local 9
    push local 8
    push local 9
    push local 8
    push local 0
    call SnakeList.get_thickness 1
    add
    push local 9
    push local 0
    call SnakeList.get_thickness 1
    add
    call Screen.drawRectangle 4
    pop temp 0
label Main_0
    push constant 1
    neg
    not
    if-goto Main_1
    push local 0
    call SnakeList.get_head 1
    pop local 2
    push local 2
    call SnakeNode.get_x 1
    pop local 6
    push local 2
    call SnakeNode.get_y 1
    pop local 7
    push local 6
    push local 7
    push local 6
    push local 0
    call SnakeList.get_thickness 1
    add
    push local 7
    push local 0
    call SnakeList.get_thickness 1
    add
    call Screen.drawRectangle 4
    pop temp 0
    push local 0
    call Keyboard.keyPressed 0
    push local 8
    push local 9
    call SnakeList.move_snake_in_direction 4
    pop temp 0
    push constant 200
    call Sys.wait 1
    pop temp 0
    goto Main_0
label Main_1
    push constant 0
    return
function Main.delete_tail_rectanlge 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push argument 0
    push argument 1
    push argument 0
    push argument 2
    add
    push argument 1
    push argument 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push constant 0
    return