function SnakeList.new 0
    push constant 4
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 0
    pop this 1
    push constant 132
    pop this 3
    push argument 1
    pop this 2
    push pointer 0
    return
function SnakeList.get_head 0
    push argument 0
    pop pointer 0
    push this 0
    return
function SnakeList.get_tail 0
    push argument 0
    pop pointer 0
    push this 1
    return
function SnakeList.get_thickness 0
    push argument 0
    pop pointer 0
    push this 2
    return
function SnakeList.set_direction 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 3
    push constant 0
    return
function SnakeList.move_snake_in_direction 6
    push argument 0
    pop pointer 0
    push this 0
    call SnakeNode.get_x 1
    pop local 0
    push this 0
    call SnakeNode.get_y 1
    pop local 1
    push this 1
    call SnakeNode.get_x 1
    pop local 2
    push this 1
    call SnakeNode.get_y 1
    pop local 3
    push argument 1
    push constant 132
    eq
    not
    if-goto SnakeList_1
    push local 0
    push this 2
    add
    pop local 4
    push local 1
    pop local 5
    push local 5
    push argument 3
    gt
    not
    not
    if-goto SnakeList_3
    push local 2
    push local 3
    push this 2
    call Main.delete_tail_rectanlge 3
    pop temp 0
    push pointer 0
    call SnakeList.remove_tail 1
    pop temp 0
    goto SnakeList_2
label SnakeList_3
label SnakeList_2
    push pointer 0
    push local 4
    push local 5
    call SnakeNode.new 2
    call SnakeList.add_head 2
    pop temp 0
    goto SnakeList_0
label SnakeList_1
label SnakeList_0
    push argument 1
    push constant 130
    eq
    not
    if-goto SnakeList_5
    push local 0
    push this 2
    sub
    pop local 4
    push local 1
    pop local 5
    push local 5
    push argument 3
    gt
    not
    not
    if-goto SnakeList_7
    push local 2
    push local 3
    push this 2
    call Main.delete_tail_rectanlge 3
    pop temp 0
    push pointer 0
    call SnakeList.remove_tail 1
    pop temp 0
    goto SnakeList_6
label SnakeList_7
label SnakeList_6
    push pointer 0
    push local 4
    push local 5
    call SnakeNode.new 2
    call SnakeList.add_head 2
    pop temp 0
    goto SnakeList_4
label SnakeList_5
label SnakeList_4
    push argument 1
    push constant 131
    eq
    not
    if-goto SnakeList_9
    push local 0
    pop local 4
    push local 1
    push this 2
    sub
    pop local 5
    push local 5
    push argument 3
    gt
    not
    not
    if-goto SnakeList_11
    push local 2
    push local 3
    push this 2
    call Main.delete_tail_rectanlge 3
    pop temp 0
    push pointer 0
    call SnakeList.remove_tail 1
    pop temp 0
    goto SnakeList_10
label SnakeList_11
label SnakeList_10
    push pointer 0
    push local 4
    push local 5
    call SnakeNode.new 2
    call SnakeList.add_head 2
    pop temp 0
    goto SnakeList_8
label SnakeList_9
label SnakeList_8
    push argument 1
    push constant 133
    eq
    not
    if-goto SnakeList_13
    push local 0
    pop local 4
    push local 1
    push this 2
    add
    pop local 5
    push local 5
    push argument 3
    gt
    not
    not
    if-goto SnakeList_15
    push local 2
    push local 3
    push this 2
    call Main.delete_tail_rectanlge 3
    pop temp 0
    push pointer 0
    call SnakeList.remove_tail 1
    pop temp 0
    goto SnakeList_14
label SnakeList_15
label SnakeList_14
    push pointer 0
    push local 4
    push local 5
    call SnakeNode.new 2
    call SnakeList.add_head 2
    pop temp 0
    goto SnakeList_12
label SnakeList_13
label SnakeList_12
    push constant 0
    return
function SnakeList.add_head 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    eq
    not
    if-goto SnakeList_17
    push argument 1
    pop this 0
    push argument 1
    pop this 1
    goto SnakeList_16
label SnakeList_17
    push this 0
    push argument 1
    call SnakeNode.set_next 2
    pop temp 0
    push argument 1
    pop this 0
label SnakeList_16
    push constant 0
    return
function SnakeList.remove_tail 1
    push argument 0
    pop pointer 0
    push this 1
    pop local 0
    push this 1
    call SnakeNode.get_next 1
    pop this 1
    push local 0
    call SnakeNode.dispose 1
    pop temp 0
    push constant 0
    return